<html>
    <head>
        <title>locacao</title>
        <link rel="stylesheet" href="css/styleLocacao.css">
    </head>
    <body>
        <div class="formulario">
            <form id="form">
                <div id="formItem" class="form-group col-md-4">
                    <label for="inputQuarto">Selecione o quarto:</label>
                    <select id="inputQuarto" class="form-control">
                        <option selected>Escolher...</option>
                        <option>...</option>
                    </select>
                </div>
                <div id="formItem">
                    <label for="">Data da locação: </label>
                    <input type="date" name="" id="">
                    <label for="">até</label>
                    <input type="date">
                </div>
                <div id="formItem">
                    <button type="submit" class="btn btn-primary">Prosseguir</button>
                    <br>
                    <br>
                    <p></p>
                </div>   
        </form>
        </div>
    </body>
</html>