:root{
    --honeydew: rgba(237, 255, 236, 1);
    --light-green: rgba(97, 231, 134, 1);
    --davys-gray: rgba(90, 87, 102, 1);
    --english-violet: rgba(72, 67, 92, 1);
    --tropical-indigo: rgba(151, 146, 227, 1);
}

* {
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: fixed;
}

.menu{
    display:inline;
    box-sizing: border-box;
    justify-content:space-between;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.navLogin{
    margin: 0;
    padding: 0;
    display:inline;
    box-sizing: border-box;
    justify-content:right;
    flex-direction: row;
}

#MenuH ul {
    list-style-type: none;
    padding: 0;
    /*background-color: rgb(255, 255, 255);*/
    background-color: var(--english-violet);
    text-align: center;
}

#MenuH ul li{
    display: inline;
    background-color: var(--english-violet);
}

#MenuH ul li a {
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: var(--english-violet);
    transition: background .3s; /*fade do background do fundo do menu clicavel*/

}

#MenuH ul li a:hover {
    color: rgb(41, 41, 15);
    background-color: var(--light-green);
}


#MenuH ul a{
    margin: 0;
    padding-right: 40%;
    background-color: var(--english-violet);
    display: inline-block
}

.menu ul a{
    text-decoration: none;
    color: white;
}

#slide-id{
    margin: 5px 0 0 0;
    display:flex;
}

.slide {
    background-color: white;
}

.slide img{
    width: 100%;
    height: 450px;  
}

.slide h2, h1{
    background-color: white;
    color: var(--davys-gray);
    margin: 190px 100px 0 0;
}

.primary-section text p, h2{
    margin:0;
    display: inline-block;
}

#text p{
    display: inline-block;
}


#informacoes{
    margin: 5px 0px;
    height: 100px;
    width: 100%;
}



.um i{
    font-size: 48px;
}

.card{
    margin: 100px 20px 0px 5px;
    position: fixed;
}
