:root {
    --orange: rgb(255, 133, 81);
    --sla: rgb(250, 240, 228);
    --cinza: rgb(155, 205, 210);
    --owkgfo: rgb(255, 222, 222);
    --img: url(./assets/img/fundo.jpg);

    --honeydew: rgba(237, 255, 236, 1);
    --light-green: rgba(97, 231, 134, 1);
    --davys-gray: rgba(90, 87, 102, 1);
    --english-violet: rgba(72, 67, 92, 1);
    --tropical-indigo: rgba(151, 146, 227, 1);
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .formulario{
    display: flexbox;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

  #form{
    padding: 50px 30px 20px;
    background-color: var(--english-violet);
    color: rgb(226, 225, 225);
  }

  #formItem{
    padding: 10px;
  }

  #formItem button{
    padding: 5px;
  }


